body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 970px !important;
}

.margin-top {
    margin-top: 5px;
}

.demo-navbar-btn {
    margin: 10px 10px 0 0;
}

.demo-navbar li {
    padding-top: 10px;
}

.demo-navbar .star,.demo-navbar .fork {
    width: 120px;
}

.demo-navbar .follow {
    width: 195px;
}